body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/*Header section STARTS*/
header{
    display: flex;
    height: 70px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}


.logo{
    padding-left: 30px;
    
}

nav{
    display: flex;
    height: 100%;
    width: 40%;
    gap: 50px;
    align-items: center;
    overflow: none;
}

nav a{
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.035rem;
    color: #090a0c;   
}

nav a:hover{
    color: #d9832e;
}

.logo{
    display: flex;
    position: relative;
}

#on-logo{
    position: absolute;
    top: 14%;
    left: 25%;
    font-size: 1.3rem;
}

.logo #on-logo{
    color: #d9832e;
}

/*HEADER SECTION ENDS */




/*HOME SECTION STARTS*/
.home{
    display: flex;
    width: 100%;
    height: 100vh;
    margin-top: px;
    justify-content: flex-start;
    gap: 30px;
}

.home-left{
    display: flex;
    flex-direction: column;
    height: 100%;  
    justify-content: center;
    gap: 10px;
    margin-left: 90px;
}

.home-left p{
    color: #090a0c;
    font-size: 18px;
    margin: 0 0 15px;
}

.home-left h1{
    font-size: 60px;
    color: #090a0c;
    font-weight: 600;
    margin: 0 0 15px;
    line-height: 1;
}

.buttons{
    display: flex;
    gap: 40px;

}

#btn{
    margin-top: 50px;

}
.home-left span{
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 500;
    
}
#btn a{
    text-decoration:none ;
    padding: 15px 20px;
    transition: ease-in-out all 0.55s;
}
.lef-btn a{
    color: white;
    background-color:#d9832e;
}
.lef-btn a:hover{
    background-color: white;
    color: #d9832e;
    border: 2px solid #d9832e;
}

.rit-btn a{
    border: 2px solid #d9832e;
    color: #d9832e;
}
.rit-btn a:hover{
    background-color: #d9832e;
    color: white;
}

.home-right{
    
}


/*HOME SECTION ENDS*/





/*ABOUT SECTION STARTS*/
.about{
    height: 500px;
    width: auto;
    background-color: gainsboro;
    padding-left: 80px;
    padding-top: 60px;
}

.sel-deta{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 60px;
}
.sel-deta p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 2rem;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 15px;
    color: #555a64;
    font-weight: 500;
    line-height: 1.6;
}
.details{
    border: 2px solid #d9832e;
    border-radius: 8px;
    background-color: white;
    padding: 20px;
}

.skills{
    border: 2px solid #d9832e;
    border-radius: 10px;
    width: 180px;
    height: 230px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 15px;
    background-color: white;
}
.skills h1{
    margin: 0;
}
.top-details{
    position: relative;
}
.underline{
    width: 115px;
    height: 3px;
    background-color: #d9832e;
    position: absolute;
    top: 45%;
    left: 0;
}
.top-details h1{
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.top-details p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: #555a64;
    line-height: 1.6;
}
/*ABOUT SECTION ENDS*/


/*MY WORKS SECTION STARTS*/
.works{
    display: flex;
    flex-direction: column;
    height: 1550px;
    width: auto;
    margin-top: 60px;

}
.inscript{
    margin-left: 85px;
}
.inscript h1{
    font-weight: 700;
    font-size: 35px;
    margin: 0 0 10px;
    display: inline-block;
    vertical-align: top;
    z-index: 1;
    padding: 0 0 10px;
    color: #090a0c;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.inscript p{
    margin: 0;
    font-size: 14px;
    letter-spacing: 2px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: 400;
}

.works-1{
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin: 25px 0;
    
}
.img-ctrl{
    display: flex;
    gap: 20px;
    flex-wrap: wrapgit
    
    ;
}
.img-ctrl img{
    height: 230px;
    width: 280px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
/*MY WORKS SECTION ENDS*/





/*CONTACT SECTION STARTS*/
.contact{
    height: 400px;
    width: auto;
    background-color: gainsboro;

}

.contact-wrapper{
    display: flex;
    width: 100%;
    height: 100%;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.contact-box{
    height: 150px;
    width: 270px;
    border: 2px solid #d9832e;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 10px;
    
    
}

.contact-box h2{
    padding: 0;
    margin: 0;
    height: 20%;
    color: #d9832e;
}
.contact-box p{
    font-size: 1.2rem;
    color: #555a64;
    margin: 0;
}

#mail p{
    font-weight: 900;

}
/*CONTACT SECTION ENDS */






/*FOOTER SECTION STARTS*/


.copyright{
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #d9832e;
    font-size: 1rem;
    background-color: white;
    font-size: 1.2rem;
}
/*FOOTER SECTION ENDS*/